* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.container-main {
  width: 100%;
  overflow: hidden;
}

.home {
  background: transparent url("images/background-banner.png") 0% 0% no-repeat
    padding-box;
  background-size: cover;
  opacity: 1;
  position: relative;
}
.home-banner {
  background: transparent linear-gradient(131deg, #ec008c 0%, #fc6767 100%) 0%
    0% no-repeat padding-box;
  opacity: 0.9;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 30px 40px;
  color: #fff;
}

.hover-underline-animation,
.hover-underline-animation:link,
.hover-underline-animation:visited {
  color: white;
  text-decoration: none;
  position: relative;
  padding-bottom: 4px; /* The distance between text and underline */
}

.hover-underline-animation::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(90deg, white, white); /* underline color */
  background-size: 0 2px; /* vertical size of underline */
  background-repeat: no-repeat;
  background-position: left bottom; /* start position of underline */
  transition: background-size 0.3s ease-in; /* duration and timing style of animation */
}

.hover-underline-animation:hover::before {
  background-size: 100% 2px;
}

.logos p {
  font-weight: bold;
  letter-spacing: 1px;
}
.nav-items a {
  margin-right: 40px;
  text-decoration: none;
  color: #fff;
}

.banner {
  display: flex;
  justify-content: space-between;
}
.banner-text {
  color: #fff;
  padding-left: 3%;
  padding-top: 13%;
}
.banner-text-big {
  font-size: xx-large;
  font-weight: 900;
}
.text-green {
  color: #00ffb3;
}
.designation {
  padding: 20px 0 60px 0;
  /* opacity: 0.6; */
  /* font-weight: 600; */
}
.download-btn {
  text-decoration: none;
  /* font-weight: 500; */
  /* font-size: 15px; */
  background-color: #fff;
  /* color: transparent; */
  padding: 10px 50px;
  color: #ec008c;
  border-radius: 5px;
}
.banner-right {
  position: relative;
  width: 500px;
  height: 86.1vh;
}
.banner-right img {
  /* transform: translateX(-50%); */
  /* transition: bottom 2s, left 2s; */
  transition: transform ease-in 250ms;
}
.banner-right:hover .backPath {
  transform: translateY(-10px);
}
.banner-right:hover .picImg {
  transform: translateX(-10px);
}
.banner-right:hover .frontPath {
  transform: translateY(10px);
}
.backPath {
  width: 400px;
  height: auto;
  position: absolute;
  right: 20%;
  top: 25%;
}
.picImg {
  right: 20%;
  width: 400px;
  height: auto;
  position: absolute;
  z-index: 9999;
  bottom: 0;
}
.frontPath {
  width: 400px;
  height: auto;
  position: absolute;
  z-index: 99999;
  right: 0;
  object-fit: cover;
  bottom: 0;
  top: 30%;
}
.projects {
}

.projects h1 {
  padding: 60px 0 30px 0;
  text-align: center;
  color: #f24e7e;
}

.projects p {
  text-align: center;
  color: #505050;
}

/* slider images starts */

.container-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  overflow: hidden;
}
.swiper-container {
  width: 58vh;
  height: auto;
  position: relative;
}

.swiper-slide {
  border-radius: 5px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  max-width: 100%;
  max-height: 100%;
}
.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 57% !important;
  transform: translateY(-50%);
  z-index: 999;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  color: black;
  width: 50px !important;
  height: 50px !important;
  line-height: 30px;
}

.swiper-button-next {
  right: 20px;
}

.swiper-button-prev {
  left: 20px;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  color: #000;
  font-size: 20px !important;
  font-weight: bold !important;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.swiper-slide:hover .overlay {
  opacity: 1;
}

.overlay h3 {
  color: #fff;
  font-size: 24px;
  text-align: center;
  margin: 0;
  padding: 10px;
}

.overlay-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.overlay-button:hover {
  background-color: #0056b3;
}

.overlay-button:focus {
  outline: none;
}

/* slider images ends */

.skills {
  height: 70vh;
  background: #ededed 0% 0% no-repeat padding-box;
}

.skills h1 {
  padding: 60px 0 30px 0;
  text-align: center;
  color: #f24e7e;
}

.skills p {
  text-align: center;
  color: #505050;
}

.progress-bar-container {
  border: 1px solid red;
  height: 50vh;
  padding: 20px 30px;
  display: flex;
  gap: 10%;
  flex-wrap: wrap;
}
.progress-bar {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 50%;
}
.progress {
  background: rgba(255, 255, 255, 0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 40px;
  width: 500px;
}

.progress-value {
  animation: load 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #fc036b;
  height: 30px;
  width: 0;
}

@keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}

/* media queries */

/* Extra small devices (phones, 480px and down) */
@media only screen and (max-width: 480px) {
  /* Styles for extra small devices go here */
  .banner {
    display: flex;
    flex-direction: column;
  }
  .banner-right {
    position: relative;
    height: 300px;
    /* border: 5px solid blue; */
  }
  .backPath {
    width: 250px;
    height: auto;
    position: absolute;
    right: 20%;
    top: 30%;
  }
  .picImg {
    position: absolute;
    width: 250px;
    right: 15%;
    /* bottom: 0; */
  }
  .frontPath {
    width: 200px;
    position: absolute;
    right: 20%;
    /* bottom: 10%; */
    top: 40%;
  }
  .container-wrapper {
    padding: 20px;
  }
  .swiper-container {
    height: auto;
  }

  .swiper-slide {
    height: auto;
  }
}

/* Small devices (phones, 481px to 768px) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* Styles for small devices go here */
}

/* Medium devices (tablets, 769px to 1024px) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* Styles for medium devices go here */
}

/* Large devices (desktops, 1025px to 1200px) */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  /* Styles for large devices go here */
}

/* Extra large devices (large desktops, 1201px and up) */
@media only screen and (min-width: 1201px) {
  /* Styles for extra large devices go here */
}

@media (max-width: 767px) {
  /* .container-wrapper{
    padding: 20px;
  }
  .swiper-container {
    height: auto;
  }

  .swiper-slide {
    height: auto;
  } */
}
